<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/edit.css">
  </head>


  <body>
    <% include ../partials/home.ejs %>
    <h1>Update your comment!</h1>
    <div class="container">
    <form action="/comments/<%=updateCactus.id%>?_method=PUT" method="POST">
      Author: <input type="text" name="author" value="<%=updateCactus.author%>"/>
      Content: <input type="text" name="content" value="<%=updateCactus.content%>"/>
      <input type="submit" name="" value="Submit Changes"/>
    </form>
  </div>
      <img id="bottom"src="https://i.imgur.com/CSiq91Q.png">
  </body>
</html>
