<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index Nav</title>
  </head>
  <body>
    <a href="/indexBake.ejs">Baking</a>
    <a href="/indexCrafts.ejs">Crafts</a>
    <a href="/indexPlants.ejs">Plants</a>
    <a href="/indexClothes.ejs">Clothes</a>
  </body>
</html>
