<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index Nav</title>
  </head>
  <body>
    <a href="/cactus/bake">Baking</a>
    <a href="/cactus/crafts">Crafts</a>
    <a href="/cactus/plants">Plants</a>
    <a href="/cactus/clothes">Clothes</a>
  </body>
</html>
