<!DOCTYPE html>
<html>
  <head>

    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/home.ejs %>

    <a href="/cactus/bake"><img src="https://imgur.com/4krnmlM" alt="Bake"></a>
    <a href="/cactus/crafts"><img src="https://imgur.com/ddCDmuk" alt="Crafts"></a>
    <a href="/cactus/plants"><img src="https://imgur.com/2rjHCCR" alt="Plants"></a>
    <a href="/cactus/clothes"><img src="https://imgur.com/Y0CuuCG" alt="Clothes"></a>
    <br>
    <a href="/cactus/new">Add a Cactus</a>
  </body>
</html>
