<!DOCTYPE html>
<html>
  <head>

    <% include ../partials/head.ejs %>
  </head>
  <style>

  </style>
  <body>
<div class="container">
<div class="left">
<div class="row1">
  <div class="rotate">
    <a href="/cactus/bake"><img src="https://i.imgur.com/4krnmlM.png" alt="Bake"></a>
  </div>
  <div class="rotate">
    <a href="/cactus/crafts"><img src="https://i.imgur.com/ddCDmuk.png" alt="Crafts"></a>
  </div>
</div>

<div class="row3">
  <div class="rotateL">
    <a href="/cactus/plants"><img src="https://i.imgur.com/dXxscz3.png" alt="Plants"></a>
  </div>

  <div class="rotateL">
    <a href="/cactus/clothes"><img src="https://i.imgur.com/Y0CuuCG.png" alt="Clothes"></a>
  </div>
</div>
</div>
<div class="right">

  <div class="row2 grow">
  <a href="/cactus/new" > <img src="https://i.imgur.com/g8mid8m.png" alt="add a cactus" class="addCactus"> </a>
  </div>

</div>
</div>





  </body>
</html>
