<!DOCTYPE html>
<html>
  <head>
    
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/home.ejs %>
    <h1>Index Clothes</h1>
    <% for (let cactus of clothesCactus){%>
      <a href="<%=cactus._id%>"><img src="<%=cactus.url%>"></a>
  <% } %>
  </body>
</html>
