<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/home.ejs %>
    <h1>Index Bake</h1>
    <% for (let cactus of bakeCactus){%>
      <a href="<%=cactus._id%>"><img src="<%=cactus.url%>"></a>
  <% } %>
  </body>
</html>
