<!DOCTYPE html>
<html>
  <head>
<% include ../partials/indexStyle.ejs %>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/home.ejs %>
    <h1>Clothes</h1>
    <div class="containerB">
    <% for (let cactus of clothesCactus){%>
      <a href="<%=cactus._id%>"><img  class="imgI" src="<%=cactus.url%>"></a>
  <% } %>
</div>
  </body>
</html>
