<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>
    <h1>Index Bake</h1>
    <% for (let cactus of bakeCactus){%>
      <h2><%=cactus.title%></h2>
  <% } %>
  </body>
</html>
