<!DOCTYPE html>
<html>
  <head>
<% include ../partials/indexStyle.ejs %>
    <% include ../partials/head.ejs %>

  </head>
  <body>
    <% include ../partials/home.ejs %>
    <h1>Bake</h1>
    <div class="containerB">
    <% for (let cactus of bakeCactus){%>

      <a  href="<%=cactus._id%>"><img class="imgI" src="<%=cactus.url%>" alt="<%=cactus.title%>"></a>

  <% } %>
    </div>
  </body>
</html>
