<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>New</h1>
    <h2>Add a New Cactus Photo!</h2>
    <label>
      <span>Image: </span>
      <input id="url" type"text" name="url" placeholder="url for image"></input>
    </label>
    <label>
      <span>Category: </span>
      <select name="selection">
        <option value="Baking">Baking</option>
        <option value="Crafts">Crafts</option>
        <option value="Plants">Plants</option>
        <option value="Clothes">Clothes</option>
      </select>
    </label>
  </body>
</html>
