<!DOCTYPE html>
<html>
  <head>
  
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <% include ../partials/home.ejs %>

    <h1>New</h1>

    <h2>Add a New Cactus Photo!</h2>
    <form action="/cactus/bake" method="POST">
    <label>
      <span>Image: </span>
      <input type"text" name="url" placeholder="url for image"></input>
    </label>
    <label for="category">Category: </label>

      <select name="category">
        <option value="Bake">Baking</option>
        <option value="Crafts">Crafts</option>
        <option value="Plants">Plants</option>
        <option value="Clothes">Clothes</option>
      </select>

    <label>
      <input type="submit" value="submit" />
    </label>
  </form>
  </body>
</html>
