<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <% include ../partials/home.ejs %>
    <h1>Show</h1>
    <img src="<%=oneCactus.url%>">

    <% for (let comment of manyComments) { %>
      <h1><%= comment.author %>:<%= comment.content %></h1>
  <% } %>
    <h3>Add a comment</h3>
    <form action="/comments" method="POST">
      <input type="text" name="author" placeholder="Your Name Here"/>
      <input type="text" name="content"placeholder="Your Comment Here" />
      <input type="hidden" name="cactus" value="<%= oneCactus._id %>"/>
      <input type="submit" />
    </form>
  </body>
</html>
