/**{border:1px solid gold}*/
body {
  background-color: grey !important;
}
.rotate:hover {
  transform: rotate(60deg) ;
}
.rotateL:hover {
  transform: rotate(-30deg) ;
}
.grow:hover {
  transform: scale(1.4);
}

.container{
  display: flex;
  flex-direction: row;

}
.left{
  width: 75%;
  display: flex;
  flex-direction: row;
}
.right{
  width: 25%;
  display: flex;
  align-items: center;
}
.addCactus{
  width: 75%;
}
.row1, .row2, .row3 {
  margin: auto;
  text-align: center;
}
