@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
  background-color: darkgray !important;
}
h1{
  font-size: 100px!important;
  color: #86cc6a !important;
  text-align: center;
font-family: 'Indie Flower', cursive!important;
}
.containerB{
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap!important;
  justify-content: center;
}
.imgI{
  width: auto!important;
  height: 300px !important;
  float: left;
  border-radius: 100px;
  padding: 10px;

}
.HOME {
  padding: 20px;
  width: 100px;
}
.HOME:hover{
  transition-duration: 3s;
  transform: rotate(360deg);
}
